<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <app-navbar></app-navbar>
    <div class="mainContainer">
      <div class="leftColumn"><app-header></app-header>
      </div>
      <div class="rightColumn">
        <div class="content-wrapper" style="background-color: rgb(203 210 214);">
          <!-- Content Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid" style="margin-top: 10%;">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <!-- <h1 class="m-0">Assign Project</h1> -->
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Welcome, D.Kumar</li>
                  </ol>
                </div>
                <!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            <h4 class="m-0" style="padding-left:10px ;">Assign Project</h4>
          </div>
          <!-- /.content-header -->
          <div class="mainselectorbody">
            <div class="select-container">
              <select id="fruit-select">
                <option value="">Select Project</option>

              </select>
            </div>
            <div class="select-container">
              <select id="fruit-select">
                <option value="">Select Shift</option>

              </select>
            </div>
            <button class="btn btn-primary" style="padding: 5px;" mat-button (click)="openBulkUploadDialog()">Bulk
              Upload</button>
          </div>

          <!-- Main content -->
          <section class="content">
            <div class="container-fluid" style="background-color: white; border-radius: 25px;">
              <!-- /.row -->

              <div class="row">
                <div class="col-md-12">
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table m-0">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Project Assigned Time </th>
                            <th>Shift</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Person 1</td>
                            <td>7:14 AM</td>
                            <td>
                              <span>1st</span>
                            </td>
                            <td>
                              <form><input type="checkbox" name="exampleCheckbox" checked>
                              </form>
                            </td>
                          </tr>
                          <tr>
                            <td>Person 2</td>
                            <td>7:14 AM</td>
                            <td>
                              <span>1st</span>
                            </td>
                            <td>
                              <form><input type="checkbox" name="exampleCheckbox" checked>
                              </form>
                            </td>
                          </tr>
                          <tr>
                            <td>Person 3</td>
                            <td>7:14 AM</td>
                            <td>
                              <span>1st</span>
                            </td>
                            <td>
                              <form><input type="checkbox" name="exampleCheckbox" checked>
                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
            </div>
          </section>
          <!-- /.content -->
        </div>
      </div>
    </div>
  </div>
</body>