<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
  
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-dark">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <a href="index3.html" class="nav-link">Date: 2023/02/21</a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->
  
      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="position: relative; display: inline-block;">
            <div class="image" style="position: absolute; top: 0; left: 55px; width: 100px; height: 100px; border-radius: 50%;">
              <img src="../../assets/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info" style="display: block; margin-top: 90px; font-size: 25px;">
              <a href="#" class="d-block">Alexander Pierce</a>
            </div>
          </div>
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <li class="nav-item menu-open">
                <a routerLink="/dashboard" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Assign Project</p>
                </a>
              </li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>
  
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="background-color: rgb(203 210 214);">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <!-- <h1 class="m-0">Assign Project</h1> -->
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item active" style="color: black; font-weight: bold;">Welcome, D.Kumar</li>
                </ol>
              </div>
              <!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
          <h4 class="m-0" style="padding-left:10px ;">Assign Project</h4>
        </div>
        <!-- /.content-header -->
          <div class="mainselectorbody">
            <div class="select-container">
              <select id="fruit-select">
                <option value="">Select Project</option>
                
              </select>
            </div>
            <div class="select-container">
              <select id="fruit-select">
                <option value="">Select Shift</option>
                
              </select>
            </div>
            <button class="btn btn-primary" style="padding: 5px;" mat-button (click)="openDialogBulk()">Bulk Upload</button>
          </div>
          
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid" style="background-color: white; border-radius: 25px;">
            <!-- /.row -->
  
            <div class="row">
              <div class="col-md-12">
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Project Assigned Time </th>
                          <th>Shift</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Person 1</td>
                          <td>7:14 AM</td>
                          <td>
                            <span>1st</span>
                          </td>
                          <td>
                            <form><input type="checkbox" name="exampleCheckbox" checked>
                            </form>
                          </td>
                        </tr>
                        <tr>
                          <td>Person 2</td>
                          <td>7:14 AM</td>
                          <td>
                            <span>1st</span>
                          </td>
                          <td>
                            <form><input type="checkbox" name="exampleCheckbox" checked>
                            </form>
                          </td>
                        </tr>
                        <tr>
                          <td>Person 3</td>
                          <td>7:14 AM</td>
                          <td>
                            <span>1st</span>
                          </td>
                          <td>
                            <form><input type="checkbox" name="exampleCheckbox" checked>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
          </div>
        </section>
        <!-- /.content -->
      </div>
    </div>
  
  </body>