<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <div class="mainContainer">
      <div class="leftColumn">
        <app-header></app-header>
      </div>
      <div class="rightColumn" style="display: flex; flex-direction: column;">
        <div class="content-wrapper" style="background-color: rgb(203 210 214);">
          <!-- Navbar -->
          <div> 
            <app-navbar></app-navbar>
          </div>
          <!-- Navbar -->
          <div class="content-header">
            <div class="container-fluid" style="margin-top: 10%;">
              <div class="row mb-2">
                <div class="col-sm-6">
                </div><!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Welcome, D.Kumar</li>
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
            <h4 class="m-0" style="padding-left:10px ;">Manpower Details</h4>
          </div>
          <!-- /.content-header -->
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid" style="background-color: white; border-radius: 25px;">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table m-0">
                        <thead style="text-align: center;">
                          <tr>
                            <th>Name</th>
                            <th>Project Assigned</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody style="text-align: center;">
                          <tr>
                            <td>Person 1</td>
                            <td>A</td>
                            <td>
                              <span><button class="btn btn-primary" mat-button
                                  (click)="openChangeProjectDialog()">Change Project
                                  |</button><button class="btn btn-secondary" mat-button
                                  (click)="openDeleteButtonDialog()">Delete
                                </button>
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>Person 2</td>
                            <td>A</td>
                            <td>
                              <span><button class="btn btn-primary" mat-button
                                  (click)="openChangeProjectDialog()">Change Project
                                  |</button><button class="btn btn-secondary" mat-button
                                  (click)="openDeleteButtonDialog()">Delete
                                </button>
                              </span>

                            </td>
                          </tr>
                          <tr>
                            <td>Person 3</td>
                            <td>B</td>
                            <td>
                              <span><button class="btn btn-primary" mat-button
                                  (click)="openChangeProjectDialog()">Change Project
                                  |</button><button class="btn btn-secondary" mat-button
                                  (click)="openDeleteButtonDialog()">Delete
                                </button>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.table-responsive -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
            </div>
          </section>
          <!-- /.content -->
        </div>
      </div>
    </div>



  </div>

</body>